In [90]:
import re
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import string
import nltk
import warnings 
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
warnings.filterwarnings("ignore", category=DeprecationWarning)



%matplotlib inline

In [91]:
test  = pd.read_csv('test_Y3wMUE5_7gLdaTN.csv')
train = pd.read_csv('train_u6lujuX_CVtuZ9i.csv')

In [92]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [93]:
totalData = train.append(test, ignore_index=True)

In [94]:
totalData.head()

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
0,5849,0.0,1.0,0,Graduate,Male,NaN,360.0,LP001002,Y,No,Urban,No
1,4583,1508.0,1.0,1,Graduate,Male,128.0,360.0,LP001003,N,Yes,Rural,No
2,3000,0.0,1.0,0,Graduate,Male,66.0,360.0,LP001005,Y,Yes,Urban,Yes
3,2583,2358.0,1.0,0,Not Graduate,Male,120.0,360.0,LP001006,Y,Yes,Urban,No
4,6000,0.0,1.0,0,Graduate,Male,141.0,360.0,LP001008,Y,No,Urban,No

In [95]:
# totalData.Gender.unique() # array(['Male', 'Female', nan], dtype=object)
totalData.Gender[totalData.Gender =='Male' ] = 1
totalData.Gender[totalData.Gender =='Female' ] = 2
totalData['Gender'].fillna(1, inplace=True)
# totalData.Gender.unique() #array([1, 2], dtype=int64)

In [96]:
# totalData.Married.unique() # array(['No', 'Yes', nan], dtype=object)
totalData.Married[totalData.Married =='No' ] = 1
totalData.Married[totalData.Married =='Yes' ] = 2
totalData['Married'].fillna(1, inplace=True)
# totalData.Married.unique() #array([1, 2], dtype=int64)

array([1, 2], dtype=int64)

In [97]:
pd.options.mode.chained_assignment = None
# totalData.Education.unique() # array(['Graduate', 'Not Graduate'], dtype=object)
totalData.Education[totalData.Education =='Graduate' ] = 2
totalData.Education[totalData.Education =='Not Graduate' ] = 1
# totalData.Education.unique() # array([2, 1], dtype=object)

In [98]:
# totalData.Dependents.unique() ---->  array(['0', '1', '2', '3+', nan], dtype=object)
totalData.Dependents[totalData.Dependents =='3+' ] = 5
totalData['Dependents'].fillna(totalData['Dependents'].apply(float).median(), inplace=True)
# totalData['Dependents'].apply(float).median() # 0.0
totalData.Dependents[totalData.Dependents =='0'] = 0
totalData.Dependents[totalData.Dependents ==0.0] = 0
totalData.Dependents[totalData.Dependents =='1' ] = 1
totalData.Dependents[totalData.Dependents =='2' ] = 2

# totalData['Dependents'].unique() # array([0, 1, 2, 5], dtype=object)

In [99]:
# totalData.Credit_History.unique() # array([  1.,   0.,  nan])
totalData['Credit_History'].fillna(totalData['Credit_History'].apply(float).median(), inplace=True)
# totalData.Credit_History.unique() #array([ 1.,  0.])

In [100]:
# totalData.Self_Employed.unique() # array(['No', 'Yes', nan], dtype=object)
totalData.Self_Employed[totalData.Self_Employed =='No'] = 1
totalData.Self_Employed[totalData.Self_Employed =='Yes'] = 2
totalData['Self_Employed'].fillna(1, inplace=True)
# totalData.Self_Employed.unique() # array([1, 2], dtype=int64)

In [101]:
# totalData.Property_Area.unique() # array(['Urban', 'Rural', 'Semiurban'], dtype=object)
totalData.Property_Area[totalData.Property_Area =='Urban' ] = 3
totalData.Property_Area[totalData.Property_Area =='Rural' ] = 1
totalData.Property_Area[totalData.Property_Area =='Semiurban' ] = 2
# totalData.Property_Area.unique() # array([3, 1, 2], dtype=object)